# Local Terraform Directory
**/.terraform/*

# Ignore Terraform State Files
*.tfstate
*.tfstate.*

# Ignore Terraform Variable Files (may include sensitive data)
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc


# Ignore Mac/OSX system file, with folder metadata
.DS_Store


# Ignore Crash logs
crash.log